window {
    margin: 0px;
    border: 2px solid #C9C9C9;
    border-radius:10px;
    background-color: rgba(23, 23, 23, 0.7);
    color: #ffffff;
}

#outer-box {
	margin:10px;
}

#innet-box {
	margin:10px;
}


#input {
    background-color: #272E33;
    opacity:0.9;
    color: #ffffff; 
    padding: 2px;
    border-radius: 5px;
    border:2px solid #C9C9C9;
    	margin:4px 1px;
}

#entry {
	padding:4px;
	margin:4px 1px;
	border-radius:50px;
}

#entry:selected {
    background-color: #C9C9C9;
    outline: none;
    border: none;
}

#entry:selected #text {
    color: #000000;
}

#img {
	margin-right:10px;
}
