/*margin: top right bottom left*/

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

#waybar {
    margin: 6px 10px 0 10px;
}

.module{
	padding:0 15px;
	background:#333333; 
	margin:4px 4px 0 4px;
	border-radius:50px;
}

window#waybar {
    background-color:transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 1.5s;
    margin:6px 15px;
}

#workspaces button {
    border-radius: 100%;
    background: transparent;
    color:grey;
}

#workspaces button.active {
    color:white;
}

#workspaces button:hover{
    background: transparent;
    box-shadow: none;
    color:grey;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
