window {
    margin: 0px;
    border: 2px solid grey;
    background-color: rgba(26, 26, 26, 0.85);
    color: white;
}

#outer-box {
	margin:10px;
}

#innet-box {
	margin:10px;
}


#input {
    background-color: rgba(69, 69, 69, 0.75);
    color: white; 
    padding: 2px;
    border-radius: 0px;
    border:2px solid grey;
    	margin:4px 1px;
}

#entry {
	padding:4px;
	margin:4px 1px;
	border-radius:4px;
}

#entry:selected {
    background-color: #C4C4C4;
}

#entry:selected #text {
	color:black;
	font-weight:bold;
}

#img {
	margin-right:10px;
}
