[Desktop Entry]
Version=1.0
Type=Application
Name=Google Gemini
Comment=Abrir Google Gemini en Brave
Exec=brave-browser --app=https://gemini.google.com/app
Terminal=false
Categories=Network;
